{
  "openIssue": {
    "path": "{{ .chezmoi.homeDir }}/.local/bin/linear-aoe",
    "env": [
      "LINEAR_PROMPT",
      "LINEAR_ISSUE_IDENTIFIER",
      "LINEAR_ISSUE_BRANCH_NAME",
      "LINEAR_WORK_DIR"
    ]
  }
}
