<?xml version=”1.0″ encoding=”UTF-8″?>
<!DOCTYPE plist PUBLIC “-//Apple Computer//DTD PLIST 1.0//EN” “http://www.apple.com/DTDs/PropertyList-1.0.dtd”>
<plist version=”1.0″>
  <dict>
    <key>Label</key>
    <string>com.slack.meetingstatus.plist</string>
    <key>LowPriorityIO</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/athal/.set-meeting-status.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Second</key>
      <integer>0</integer>
    </dict>
    <key>StandardErrorPath</key>
    <string>/tmp/slackmeeting.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/slackmeeting.out</string>
  </dict>
</plist>
