{{ range .packages.github_releases -}}
{{ if eq .target "Applications" -}}
[{{ printf "Applications/%s" .app | quote }}]
    type = {{ .type | quote }}
    {{- if index . "version" }}
    url = {{ printf "https://github.com/%s/releases/download/%s/%s" .repo .version .asset | quote }}
    {{- else }}
    url = {{ gitHubLatestReleaseAssetURL .repo .asset | quote }}
    {{- end }}
    stripComponents = 1
    refreshPeriod = {{ .refresh_period | quote }}

{{ else -}}
[{{ .target | quote }}]
    type = {{ .type | quote }}
    {{- if index . "version" }}
    url = {{ printf "https://github.com/%s/releases/download/%s/%s" .repo .version .asset | quote }}
    {{- else }}
    url = {{ gitHubLatestReleaseAssetURL .repo .asset | quote }}
    {{- end }}
    {{- if eq .type "archive-file" }}
    path = {{ .path | quote }}
    {{- end }}
    {{- if index . "executable" }}
    executable = true
    {{- end }}
    refreshPeriod = {{ .refresh_period | quote }}

{{ end -}}
{{ end -}}
