[user]
  name = Andrew Thal
  email = hello@athal7.com
[github]
  user = athal7
[core]
  excludesfile = /Users/andrewthal/.gitignore_global
  editor = vim
[color]
  branch = auto
  diff = auto
  status = auto
  ui = true
[color "branch"]
  current = magenta reverse
  local = magenta
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  a   = add
  aa  = add -A :/
  ap  = add -p
  b   = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format='%(refname:short)'
  bd  = branch -D
  bn  = checkout -b
  br  = browse
  c   = commit
  ca  = commit -a
  caa = commit -a --amend
  cl  = clone
  co  = checkout
  cm  = commit -v -m
  d   = diff
  f   = fetch
  h   = log --pretty=format:'%h %ad | %s [%an]' --graph --date=short
  l   = pull
  lb  = checkout -
  lom = pull origin master
  o   = checkout
  m   = merge
  mf  = merge --ff-only
  p   = push -u
  poh = push -u origin head
  pom = push origin master
  pr  = pull-request -o
  s   = stash
  ra  = remote add
  rb  = rebase
  rbc = rebase --continue
  rbi = rebase -i
  re  = reset
  rr  = remote rm
  rs  = remote -v show
  ru  = clean  -d  -fx "" # delete untracked files
  rv  = revert
  sa  = stash apply
  sh  = show
  st  = status
  tr  = branch -t
  ctags = !.git/hooks/ctags
[apply]
  whitespace = fix
[push]
  default = tracking
[pull]
  default = tracking
[init]
  templatedir = ~/.git_template
[help]
  autocorrect = 20
