Desktop
Applications
Documents
Downloads
Dropbox
Google Drive
Library
Movies
Music
Pictures
Public
Sites
.plex
.putty
.ssh
.vim-fuf-data
.viminfo
/.gvimrc
/.vimrc
/.vim
.netrwhist
.irb-history
.irb_history
.gem
.dropbox
.gdb_history
.cups
.bundler
.bashrc
.bash_history
.DS_Store
.CFUserTextEncoding
.itmstransporter
.local
.NERDTreeBookmarks
.Trash/
.Xauthority
.adobe/
.bashrc~
.codeintel/
.dbk_info
.dbshell
.fontconfig/
.gitk
.gnupg/
.heroku/
.hitch_export_authors
.hitch_pairs
.ievms/
.lesshst
.livingsocial.yml
.lolcommits/
.mysql_history
.netrc
.npm/
.pow
.powconfig
.rbx/
.rdebug_hist
.rediscli_history
.rnd
.rubinius_last_error
.rvm/
.scala_history
.showoffrc
.sqlite_history
.subversion/
.vagrant.d/
.vimfuzzyfinder
.zshrc
.swfinfo
Marketing alias
Projects/
README
VirtualBoxVMs/
VirtualBox\ VMs/
autojump/
lastpass.safariextz
logs
sample_db
/.config
QtSDK
_livingsocial.yml
.cache
.pry_history
Box Documents
.ivy2
.sbt
.guard_history
.hgignore_global
.ls_ops_api_token
.zprofile
.m2/
.lein/
target/
.viminfo.tmp
.viminfp.tmp
.viminfq.tmp
.viminfr.tmp
.viminfs.tmp
.viminft.tmp
.viminfv.tmp
.viminfw.tmp
.viminfx.tmp
.viminfy.tmp
.viminfz.tmp
.lighttable
.livingsocial.yml
.api.yml
.vegas/
.rbenv/versions/*
.rbenv/plugins/*
.rbenv/shims/
.rbenv/bundles
.my.cnf
.rbenv/ruby-build
.viminfu.tmp
.tmuxinator/*
.irssi/*
.dropbox-master
src
.node-gyp/
.openvpn-connect.json
.psql_history
.pgpass
.pgadmin_histoqueries
