[user]
	name = Andrew Thal
	email = andrew.thal@livingsocial.com
[github]
	user = athal
[core]
	excludesfile = /Users/andrewthal/.gitignore_global
	editor = mvim -v
[color]
  branch = auto
  diff = auto
  status = auto
  ui = true
[color "branch"]
  current = magenta reverse
  local = magenta
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  a   = add
  aa  = add -A
  ap  = add -p
  b   = branch
  bd  = branch -D
  bn  = checkout -b
  c   = commit
  cl  = clone
  co  = checkout
  cm  = commit -v -m
  d   = diff
  f   = fetch
  h   = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  l   = pull
  lb  = checkout -
  lom = pull origin master
  o   = checkout
  m   = merge
  p   = push
  pom = push origin master
  s   = stash
  ra  = remote add
  rb  = rebase
  rbi = rebase -i
  re  = reset
  rr  = remote rm
  rs  = remote -v show
  ru  = clean  -d  -fx "" # delete untracked files
  rv  = revert
  sa  = stash apply
  sh  = show
  st  = status
  tr  = branch -t
[apply]
  whitespace = fix
[push]
  default = tracking
[pull]
  default = tracking
