[user]
	name = Andrew Thal
	email = 467872+athal7@users.noreply.github.com
[github]
  user = athal7
[core]
  excludesfile = /Users/athal/.gitignore_global
  pager = delta --theme='Dracula'
  editor = vi
[interactive]
  diffFilter = delta --color-only
[delta]
  features = side-by-side line-numbers decorations
[alias]
  a   = add
  aa  = add -A :/
  ap  = add -p
  b   = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format='%(refname:short)'
  bd  = branch -D
  bn  = checkout -b
  br  = browse
  c   = commit
  ca  = commit -a
  caa = commit -a --amend
  cl  = clone
  co  = checkout
  cm  = commit -v -m
  d   = diff
  f   = fetch
  h   = log --pretty=format:'%h %ad | %s [%an]' --graph --date=short
  l   = pull
  lb  = checkout -
  o   = checkout
  m   = merge
  mf  = merge --ff-only
  p   = push -u
  poh = push -u origin head
  pr  = pull-request
  s   = stash
  ra  = remote add
  rb  = rebase
  rbc = rebase --continue
  rbi = rebase -i
  re  = reset
  rr  = remote rm
  rs  = remote -v show
  ru  = clean  -d  -fx "" # delete untracked files
  rv  = revert
  sa  = stash apply
  sh  = show
  st  = status
  tr  = branch -t
  ctags = !.git/hooks/ctags
[apply]
  whitespace = fix
[push]
  default = tracking
[pull]
  default = tracking
  rebase = true
[init]
  templatedir = ~/.git_template
  defaultBranch = main
[help]
  autocorrect = 20
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true