# aliases
  alias watch='watch -c '
  alias d="docker"
  alias dc="docker-compose"
  alias dcr="docker-compose run --rm"
  alias docker_cleanup="docker system prune"
  alias k="kubectl"

# secrets
  function getSecret() {
    chezmoi secret keyring get --service=$1 --user={{.chezmoi.username}}
  }
  function setSecret() {
    chezmoi secret keyring set --service=$1 --user={{.chezmoi.username}} --value=$2
  }
  function deleteSecret() {
    chezmoi secret keyring delete --service=$1 --user={{.chezmoi.username}}
  }
  function listSecretNames() {
    security dump-keychain \
    | grep -b4 -A0 "\"acct\"<blob>=\"{{.chezmoi.username}}\"" \
    | grep -A3 genp \
    | grep 0x00000007 \
    | cut -d = -f 2 \
    | tr -d '"'
  }

  for secret in $(listSecretNames); do
    env_var=$(echo $secret | tr '[:lower:]' '[:upper:]' | sed -e 's/-/_/g')
    export $env_var=$(getSecret $secret)
  done