{{ template "brewenv" . }}

# Load secrets from ~/.env if it exists
[[ -f ~/.env ]] && set -a && source ~/.env && set +a

export EDITOR="nvim"
export DOCKER_HOST="unix:///${HOME}/.colima/default/docker.sock"
export TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE="/var/run/docker.sock"

# aliases
  alias cat='bat'
  alias d="docker"
  alias dc="docker-compose"
  alias dcr="docker-compose run --rm"
  alias docker_cleanup="docker system prune"
  alias e=$EDITOR
  alias g='git'
  alias k="kubectl"
  alias less="less -R"
  alias lf="less +F"
  alias ll="ls -la"
  alias oc='opencode'
  alias tf='tofu'
  alias watch='watch -c '

# plugins
  eval "$(starship init zsh)"
  eval "$(direnv hook zsh)"
  [[ -s $(brew --prefix)/etc/profile.d/autojump.sh ]] && source $(brew --prefix)/etc/profile.d/autojump.sh

export PATH="$HOME/.local/bin:$HOME/bin:$PATH"

# Enable reverse search (ctrl-r)
bindkey '^R' history-incremental-search-backward
