{{ template "brewenv" . }}

export EDITOR="code"
export DOCKER_HOST="unix:///${HOME}/.colima/default/docker.sock"
export TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE="/var/run/docker.sock"

# aliases
  alias cat='bat'
  alias d="docker"
  alias dc="docker-compose"
  alias dcr="docker-compose run --rm"
  alias docker_cleanup="docker system prune"
  alias e=$EDITOR
  alias g='git'
  alias k="kubectl"
  alias less="less -R"
  alias lf="less +F"
  alias ll="ls -la"
  alias tf='terraform'
  alias watch='watch -c '

# plugins
  eval "$(starship init zsh)"
  eval "$(direnv hook zsh)"

export PATH="$HOME/bin:$PATH"
. ~/.secret
