[tools]
{{- range .packages.mise }}
{{- $spec := .version | quote -}}
{{- if hasKey . "allow_builds" -}}
{{- $spec = printf "{ version = %s, allow_builds = %s }" $spec (.allow_builds | toJson) -}}
{{- end }}
{{ if contains ":" .name }}"{{ .name }}"{{ else }}{{ .name }}{{ end }} = {{ $spec }}
{{- end }}

[settings]
idiomatic_version_file_enable_tools = ["ruby"]
ruby.default_packages_file = "~/.config/mise/default-ruby-packages"
