[tools]
{{- range .packages.mise }}
{{ if contains ":" .name }}"{{ .name }}" = {{ .version | quote }}{{ else }}{{ .name }} = {{ .version | quote }}{{ end }}
{{- end }}

[settings]
idiomatic_version_file_enable_tools = ["ruby"]
ruby.default_packages_file = "~/.config/mise/default-ruby-packages"
