[tools]
{{- range .packages.mise }}
{{ if eq .name "npm:@earendil-works/pi-coding-agent" }}
"{{ .name }}" = { version = {{ .version | quote }}, minimum_release_age = "0s" }
{{ else }}
{{ if contains ":" .name }}"{{ .name }}"{{ else }}{{ .name }}{{ end }} = {{ .version | quote }}
{{ end }}
{{- end }}

[settings]
idiomatic_version_file_enable_tools = ["ruby"]
ruby.default_packages_file = "~/.config/mise/default-ruby-packages"
