# ruby
  alias canes="cane --style-glob 'app/*.rb' --style-measure 80 --no-doc"
  alias rspec='rspec --color -f d'
  alias rego='rego {test,spec,app} -- ruby @'

# rails
  alias be='bundle exec'
  alias reeks='reek app/**/*.rb | grep "TooManyStatements\|UncommunicativeVariableName\|LongMethod"'
  alias ring='cd ~; rvm use 1.9.3 && ringleader ~/Documents/Projects/deals/config/nginx/ringleader.yml'
  alias ss='script/server'
  alias sc='script/console'
  alias rs='rails server'
  alias rc='rails console'
  alias show_rogue_servers="echo \$(rogue_servers)"
  alias kill_rogue_servers="kill -9 \$(rogue_servers)"

# for dotfiles
  alias bp='vi  ~/.bash_profile'
  alias reload='source ~/.bash_profile; cd ..; cd -'

# always use macvim in the terminal when trying to use terminal vim
  alias vi='mvim -v'
  alias vim='mvim -v'

# applescripts
  alias vpn="cd ~; osascript applescripts/openvpn.applescript; cd -"
  alias rearrange="cd ~; osascript applescripts/WindowArrangement.scpt; cd -"

# tmux
  alias tmux="tmux -2"
  alias ta="tmux attach"

# git
  alias g='git' # see other aliases in .gitconfig

# pull requests
  alias lspr="open http://code.livingsocial.net/athal/\$(application)/pull/new/\$(git_branch)"
  alias pr="open http://github.com/athal7/\$(application)/pull/new/\$(git_branch)"

  function application {
    echo "$(pwd | awk -F/ '{print$NF}')"
  }

  function rogue_servers {
    echo "$(ps aux | grep -v 'grep' | grep -v 'guard' | grep 'ruby\|poller\|ror\:server' | awk '{print $2}')"
  }

# clean up scripts
  alias check_last_cleanup_run="ls -la /var/log/*.out"
  alias run_cleanup_scripts="sudo periodic daily weekly monthly"

# memcached
  alias flush_memcached='echo "flush_all" | nc 127.0.0.1 11211'
  alias stop_memcached='launchctl unload ~/Library/LaunchAgents/com.danga.memcached.plist'
  alias start_memcached='launchctl load ~/Library/LaunchAgents/com.danga.memcached.plist'

# For Virtualbox
  alias StartVB='sudo ifconfig lo0 alias 192.168.10.100'
  alias StopVB='sudo ifconfig lo0 -alias 192.168.10.100'
