# ruby
  alias canes="cane --style-glob '**/*.rb' --style-measure 1"
  alias rspec='rspec --color -f d'
# rails
  alias be='bundle exec'
  alias reeks='reek app/**/*.rb | grep "TooManyStatements\|UncommunicativeVariableName\|LongMethod"'
  alias ring='cd ~; rvm use 1.9.3 && ringleader ~/Documents/Projects/ringleader.yml'
  alias ss='script/server'
  alias sc='script/console'
  alias rs='rails server'
  alias rc='rails console'
# for dotfiles
  alias bp='vi  ~/.bash_profile'
  alias reload='source ~/.bash_profile; cd ..; cd -'
# always use vim not vi
  alias vi='vim'
# applescripts
  alias openvpn="cd ~; osascript openvpn.applescript; cd -"
  alias rearrange="cd ~; osascript WindowArrangement.scpt; cd -"
