{{- $settings := dict
  "packages" (list "npm:@gotgenes/pi-permission-system")
  "defaultTools" (list "read" "bash" "edit" "write" "grep" "find" "ls" "+codemode" "+tool_search")
  "prompts" (list "~/.agents/prompts/fix-launchagent-errors.md")
  "steeringMode" "all"
  "followUpMode" "all"
  "hideThinkingBlock" true
  "showCacheMissNotices" true
  "quietStartup" true
-}}
{{- if hasKey . "local_model" -}}
{{-   $_ := set $settings "defaultProvider" "local-llama" -}}
{{-   $_ := set $settings "defaultModel" .local_model.id -}}
{{- end -}}
{{ $settings | toPrettyJson }}
